* {
    margin: 10px;
    padding: 10px;
}

#container {
    width: 970px;
    border: 2px solid gray;
}

#navbar {
    background: grey;
    width: 95%;
}

a {
    color: white;
    text-decoration: none;
}

#hr {
    margin: 0;
    padding: 0;
}