@{
    ViewData["Title"] = "Register and Login";
}


@model BrightIdeas.Models.User

<h1>Welcome:</h1>

<p>@ViewBag.errors</p>

<div class="row">
    <div class="five columns">
        <h1>Register</h1>
        <form asp-action="Register" asp-controller="User" method="Post">
            <span asp-validation-for="Name"></span>
            <label asp-for="Name"></label><input asp-for="Name"><br>
            <span asp-validation-for="Alias"></span>
            <label asp-for="Alias"></label><input asp-for="Alias"><br>
            <span asp-validation-for="Email"></span>
            <label asp-for="Email"></label><input asp-for="Email"><br>
            <span asp-validation-for="Password"></span>
            <label asp-for="Password"></label><input asp-for="Password"><br>
            <p>*Password should be at least 8 characters</p>
            <span asp-validation-for="ConfirmPW"></span>
            <label asp-for="ConfirmPW"></label><input asp-for="ConfirmPW"><br>
            <input type="submit" value="Register">
        </form>
    </div>

    <div class="five columns">
        <h1>Login</h1>
        <form action="Login" method="Post">
            <label for="Email">Email:</label><input type="text" name="Email">
            <label for="Password">Password:</label><input type="text" name="Password"><br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>