<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/styles.css"/>
    </head>
    <body>
        <div id="container">
            <div id="navbar">
                <a href="/">Home</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact</a>
            </div>
            <h1>Projects:</h1> 
            <hr>
            <h2>Pinterest Clone</h2>
            <p>Exactly what it sounds like.</p>
            <img src="~/images/project1.jpg"/>
            <hr>
            <h2>RIO Coffee</h2>
            <p>Exactly what it sounds like.</p>
            <img src="~/images/project2.jpg"/>
            <hr>
            <h2>Havana</h2>
            <p>Exactly what it sounds like.</p>
            <img src="~/images/project3.jpg"/>
        </div>
    </body>
</html>