<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/styles.css"/>
    </head>
    <body>
        <div id="container">
            <h1>Results works</h1>
            <p>Name: @ViewBag.name</p>
            <p>City: @ViewBag.city</p>
            <p>Language: @ViewBag.language</p>
            <p>Comment: @ViewBag.name</p>
            <br>
            <a href="/">GO BACK</a>
        </div>
        
    </body>
</html>