<h1 class="header">The Movie Database</h1>

<div class="col-xs-12">
    <form action="/search" method="post" class="form movieForm">
        <label for "search">Enter movie title: <input type="text" id="movie" name="movie" placeholder="Star Wars"></label>
        <input type="submit" value="search" class="btn btn-alert">
    </form>
</div>

<div class="col-md-12" id="movies">
        <table class="table table-bordered table-hover movieInfo">
            <thead>
                <th class="tableHead">Movie</th>
                <th class="tableHead">Rating</th>
                <th class="tableHead">Release Date</th>
            </thead>
            <tbody id="movieBox">

            </tbody>
        </table>
    </div>